{% extends 'base.html.twig' %}

{# {% block title %}
    Movies Page
{% endblock %} #}

{% block body %}

    <h1 class="bg-blue-500 text-2xl text-center font-bold mt-15">Woohoo.</h1>
    <img src="{{asset("build/images/image1.e3816ee2.png")}}" alt="">
{% endblock %}